{% extends "layout.html" %}
{% load static %} {% block title %} ChangeMaster -Home {% endblock %}
{% block content %}
<div class="cmnavbar">
  <a><span id="h11" >ChangeMaster</span> </a>
  <a href="{% url 'cmhome' %}" class="{% if request.resolver_match.url_name == 'cmhome' %}activebtn{% endif %}">
    <i class="bi bi-house"></i> CM-Home</a>
  <a href="{% url 'update' %}"><i class="bi bi-cash-stack"></i> Update Balance</a>
  <a href="{% url 'process' %}"><i class="bi bi-file-earmark-spreadsheet"></i> Excel Processing</a>
  <a href="{% url 'voucher' %}"><i class="bi bi-credit-card-2-front"></i> Generate Voucher</a>
</div>



<img src="{% static 'images/PosterCMWorkflow.png' %}" alt="PosterCMWorkflow Image" style="width: 100%; height: auto;" />
  <div class="cscontainer">
    <h2 class="text-center currency-state">CURRENCY STATE</h2>

    {% if message %}
    <div class="alert">
      <p>{{ message }}</p>
    </div>
    {% else %}
    <div class="row text-center">
      <div class="col">
        <h4 class="font-weight-bold text-muted">Available Balance:</h4>
        <p>{{ total_balance }}</p>
      </div>
      <div class="col">
        <h4 class="font-weight-bold text-muted">Total Notes & Coins:</h4>
        <p>{{ total_notes }}</p>
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-body ">
        <h6 class="text-center">Denomination Breakdown</h6>
        <table class="table">
          <thead>
            <tr>
              <th>Denomination</th>
              {% for denomination, details in denomination_details.items %}
              <th>{{ denomination }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bold">Count</td>
              {% for denomination, details in denomination_details.items %}
              <td>{{ details.count }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="font-weight-bold">Total</td>
              {% for denomination, details in denomination_details.items %}
              <td>{{ details.total }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        <div class="btn-center">
          <a href="{% url 'update' %}" class="cmbtn">Update</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>



{% endblock %}
