{% extends "layout.html" %}
{% load static %} {% block title %} ChangeMaster -Home {% endblock %}
{% block content %} 
<div class="cmnavbar">
    <a><span id="h11" >ChangeMaster</span> </a>
    <a href="{% url 'cmhome' %}"><i class="bi bi-house"></i> CM-Home</a>
    <a href="{% url 'update' %}"><i class="bi bi-cash-stack"></i> Update Balance</a>
    <a href="{% url 'process' %}"><i class="bi bi-file-earmark-spreadsheet"></i> Excel Processing</a>
    <a href="{% url 'voucher' %}" class="{% if request.resolver_match.url_name == 'voucher' %}activebtn{% endif %}">
        <i class="bi bi-credit-card-2-front"></i> Generate Voucher</a>
  </div>
  <div class="uploadcontainer">
  <h1>Upload Output of Excel Process</h1>
{% if error %}
    <div style="color: red;">
        {{ error.file }}
    </div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="cmbtn" type="submit">Upload and Generate</button>
</form>
</div>
<div class="postercontainer">
    <img src="{% static 'images/PosterEP.png' %}" alt="PosterEP Image" style="width: 100%; height: auto;" />
  </div>
{% endblock %}